.about {
    margin: 100px 0px;
}

.about h1{
    width: 110px;
    font-size: 40px;
    color: aquamarine;
    margin: auto;
    margin-bottom: 20px;
}

.about p {
    max-width: 60%;
    margin: auto;
    color: white;
    font-size: 18px;
    text-align: center;
}

.about div {
    margin: auto;
    color: white;
    font-size: 18px;
}