.blogs_container {
  /* width: 80%; */
  /* height: 440px; */
  margin: auto;
  /* border: 1px solid white; */
}

.blog_title {
  margin: auto;
  width: 100px;
  color: aquamarine;
  margin-bottom: 40px;
}

.blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.blogs > div {
  /* flex: 1 1 0; */
  width: 380px;
  border: 1px solid white;
  height: 230px;
  transition: transform 600ms;
}

.blogs > div img {
  width: 100%;
  height: 100%;
}

.blogs > div:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 1024px) {
  /* .blogs > div {
    height: 150px;
  } */
}
