.intro_container {
  width: 1000px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid white; */
  margin: auto;
  padding: 20px 0;
}

.intro_container > div:nth-child(1) {
  width: 400px;
  height: 400px;
}

.intro_container > div:nth-child(1) img {
  width: 100%;
}

.intro_description {
  width: 500px;
  height: 400px;
  color: white;
}

.intro_description > h1 {
  font-size: 60px;
  margin: 10px 0px;
}

.name {
  font-size: 60px;
}

.intro_description > p {
  font-size: 25px;
}

.media_links a {
  font-size: 50px;
  color: white;
  margin-right: 20px;
}
