.intro_container {
  width: 1000px;
  /* height: 500px; */
  display: flex;
  justify-content: space-between;
  /* border: 1px solid white; */
  margin: auto;
  padding: 20px 0;
}

.intro_container > div:nth-child(1) {
  width: 400px;
  height: 400px;
  margin-top: auto;
  margin-bottom: auto;
}

.intro_container > div:nth-child(1) img {
  width: 90%;
  height: 400px;
}

.intro_description {
  width: 500px;
  height: 400px;
  color: white;
}

.intro_description h1 {
  font-size: 60px;
  margin: 10px 0px;
}

.mern_developer_text {
  display: flex;
  gap: 18px;
}

.name {
  font-size: 60px;
}

.intro_description > p {
  font-size: 25px;
}

.media_links a {
  font-size: 50px;
  color: white;
  margin-right: 20px;
}

@media only screen and (max-width: 1024px) {
  .mern_developer_text {
    display: block;
  }
  .intro_container {
    justify-content: space-around;
    height: 520px;
  }
  .intro_container > div:nth-child(1) {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .intro_container {
    width: 100%;
    display: block;
    height: 100%;
    text-align: center;
    justify-content: center;
  }

  .intro_description {
    margin: auto;
    text-align: center;
  }

  .intro_container > div:nth-child(1) {
    display: block;
    margin: auto;
    text-align: center;
  }
}
