.navbar > div {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.resume_btn a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

.navigations {
  display: flex;
  color: white;
}

.navigations p {
  margin-right: 15px;
}

.navigations a {
  color: white;
  text-decoration: none;
}

.navigations a:hover {
  color: white;
  transform: translateY(2%);
  border-bottom: 2px solid #e8aead;
}
