.skills {
  margin-top: 40px;
}

.skills_images {
  width: 60%;
  margin: 40px auto;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px);
  grid-gap: 5%;
}

.skills_images > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 20px;
}

.skills div h1 {
  width: 90px;
  margin: 0px auto;
  text-align: center;
  color: aquamarine;
}

.skills_images img {
  width: 120px;
}

@media only screen and (max-width: 1024px) {
  .skills_images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    width: 70%;
  }
}

@media only screen and (max-width: 767px) {
  .skills_images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    width: 80%;
  }

  .skills_images img {
    width: 90px;
  }
}

@media only screen and (max-width: 767px) {
  .skills_images {
    
  }
}